<div class="creatorRewards__heading">Для кураторов</div>
<div class="creatorRewards__items">
	<div class="creatorRewards__item" *ngFor="let reward of data?.rewards">
		<p class="paragraph creatorRewards__paragraph" [innerHTML]="reward.text"></p>
		<div class="creatorRewards__layout1">
			<div class="creatorPage__money creatorRewards__money">
				<div class="creatorPage__num creatorRewards__num" [innerHTML]="reward?.num"></div>
				<div class="creatorPage__currency creatorRewards__currency">GBG</div>
			</div>
			<button class="button button-mode-4 button-mode-5 creatorRewards__button">Поддержать</button>
		</div>
	</div>
</div>
