<div class="creatorRewards__heading">Rewards (<span [innerHTML]="rewards?.length"></span>)</div>
<div class="creatorRewards__items">
	<div class="creatorRewards__item" *ngFor="let reward of rewards">
		<p class="paragraph creatorRewards__paragraph_title" [innerHTML]="reward.title"></p>
		<p class="paragraph creatorRewards__paragraph" [innerHTML]="reward.reward"></p>
		<div class="creatorRewards__layout1">
			<div class="creatorPage__money creatorRewards__money">
				<div class="creatorPage__currency creatorRewards__currency">$</div>
				<div class="creatorPage__num creatorRewards__num" [innerHTML]="reward?.amount"></div>
			</div>
			<button class="button button-mode-4 button-mode-5 creatorRewards__button" i18n="">Get reward</button>
		</div>
<!--
		<div class="creatorRewards__line"></div>
-->
	</div>
</div>
