<div class="profileBanner__top" [style.background-image]="'url(' + profile?.bannerImg + ')'">
	<div class="block h100">
		<div class="profileBanner__layout1">
			<div class="profileBanner__title" [innerHTML]="profile?.fullname + ' создаёт ' + profile?.desc"></div>
			<div class="profileBanner__badgeWrap">
				<img class="profileBanner__badge" *ngIf="profile?.badge" [attr.src]="profile?.badge">
			</div>
		</div>
	</div>
</div>
<div class="block">
	<div class="profileBanner__bottom">
		<div class="profileBanner__avatar" [style.background-image]="'url(' + profile?.avatar + ')'"></div>
		<div class="profileBanner__l">
			<nav class="profileBanner__nav">
				<a class="profileBanner__navItem profileBanner__navItem-active">Основное</a>
				<a class="profileBanner__navItem">Посты</a>
				<a class="profileBanner__navItem">Сообщество</a>
			</nav>
		</div>
		<div class="profileBanner__r">
			<div class="profileBanner__socials">
				<a class="profileBanner__social" *ngFor="let item of profile?.socialLinks" [attr.href]="item.link" [ngClass]="'profileBanner__social-' + item.name"></a>
			</div>
			<button class="button button-mode-2 button-mode-5 profileBanner__button">Стать куратором</button>
		</div>
	</div>
</div>
