<div class="sidebar" [@state]="state">
	<div class="sidebar__cross" (click)="close()"></div>
	<nav class="sidebar__items">
		<a class="sidebar__item" i18n="" routerLink="#">Join</a>
		<a class="sidebar__item" i18n="" routerLink="/login">Login</a>
		<a class="sidebar__item" i18n="" routerLink="/about">About</a>
		<a class="sidebar__item" i18n="" routerLink="/team">Team</a>
		<a class="sidebar__item" i18n="">Whitepaper</a>
		<a class="sidebar__item" i18n="" routerLink="/privacy">Privacy Policy</a>
		<a class="sidebar__item" i18n="" routerLink="/terms">Terms of Use</a>
		<a class="sidebar__item" i18n="" (click)="user.logout()" *ngIf="user.isLoggedIn">Logout</a>
	</nav>
</div>