.sidebar {
	position: fixed;
	right: 0;
	top: 0;
	bottom: 0;
	width: 300px;
	background-color: #ffffff;
	padding: 20px 0;
	display: block;
}

.sidebar__items {

}

.sidebar__item {
	padding: 10px 10px 10px 34px;
	display: inline-block;
	width: 100%;
	text-decoration: none;
	color: inherit;
}

.sidebar__item:not(:first-child) {
	margin-top: 10px;
}