<div class="mainNavWrap">
  <nav class="nav editProfilePage__nav">
    <a routerLink="/dashboard" class="nav__item" i18n="">Dashboard</a>
    <a routerLink="/edit-profile" class="nav__item" i18n="">Edit profile</a>
    <a routerLink="/dashboard" class="nav__item" i18n="">Supporters</a>
    <a routerLink="/dashboard" class="nav__item" i18n="">Messages</a>
    <a routerLink="/dashboard" class="nav__item" i18n="">Settings</a>
    <a routerLink="/dashboard" class="nav__item" i18n="">Wallet</a>
    <a [routerLink]="'/' + profileUrl" class="nav__item" i18n="">My profile</a>
  </nav>
</div>