@import (reference) '../environment';

.header {
	height: @headerHeight;
	border-bottom: @headerBorderBottom;
}

.html-route-profile .header {
	border-bottom: none;
}

.header__content {
	height: 100%;
	display: flex;
	justify-content: space-between;
}

.header__liveSearch {
	width: 466px;
	margin-left: 30px;
}

.header__left,
.header__right {
	display: flex;
	align-items: center;
	height: 100%;
}

.header__left {
	width: 100%;
	flex-shrink: 1;
	padding-right: 10px;
}

.header__right {
	flex-shrink: 0;
}

.header__bell {
	width: 21px;
}

@headerBurgerWrapWidth: 40px;

.header__burgerWrap {
	cursor: pointer;
	width: @headerBurgerWrapWidth;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
}

@headerBurgerWidth: 18px;

.header__burger {
	.m-burger(@headerBurgerWidth, 12px, 2px, #000);
}

.header__login {
	margin-right: 27px;
	min-width: 105px;
}

@headerNewPostCornerMargin: 25px;

.header__newPost {
	margin: 0 @headerNewPostCornerMargin;
}

.header__profileLink {
	background: url(/images/icon-profile.png) no-repeat center;
	background-size: contain;
	width: 33px;
	height: 30px;
	margin-right: @headerNewPostCornerMargin - ((@headerBurgerWrapWidth - @headerBurgerWidth) / 2);
}

@media screen and (max-width: 1090px) {
	.header__liveSearch {
		display: none;
	}
}

@media screen and (max-width: 611px) {
	.header__bell,
	.header__newPost,
	.header__join,
	.header__login {
		display: none;
	}
}