<div class="creatorPosts__item section" *ngFor="let post of posts">
	<div class="creatorPosts__top">
		<div class="creatorPosts__l">
			<div class="creatorPosts__ava" [style.background-image]="'url(' + post.profile_image + ')'"></div>
			<div class="creatorPosts__info">
				<div class="creatorPosts__author" [innerHTML]="post.profile_name"></div>
				<!--<div class="creatorPosts__date" [innerHTML]="post.date"></div>-->
			</div>
		</div>
		<div class="creatorPosts__r">
			<div class="creatorPosts__money" [innerHTML]="post.price_usd + '$+'"></div>
			<!--<div class="creatorPosts__curators">
				<span [innerHTML]="post.curators"></span>
				<span i18n=""> supporters</span>
			</div>-->
		</div>
	</div>
	<div class="creatorPosts__lock" *ngIf="post.isLocked">
		<img class="creatorPosts__lockImage" src="/images/lock.svg">
		<div class="creatorPosts__lockTitle">Only supporters can view this post</div>
		<button class="creatorPosts__button" [routerLink]="'/become-patron/' + post.user_id">Unlock</button>
	</div>
	<iframe class="creatorPosts__video" [attr.src]="post.video_url | safe" *ngIf="!post.isLocked && post.youtube"></iframe>
	<div controls *ngIf="!post.isLocked && !post.youtube">
		<div class="video__play_button" (click)="playVideo($event)" [id]="'play-' + post.permlink"></div>
		<video  class="creatorPosts__video" [attr.src]="post.video_url" *ngIf="!post.isLocked && !post.youtube" [attr.poster]="post.post_image" [id]="post.permlink" (click)="videoClick($event)">
			Your browser doesn't support HTML5 video
		</video>
	</div>
	<div class="creatorPosts__title" [innerHTML]="post.title"></div>
	<p class="paragraph creatorPosts__desc" [innerHTML]="post.body"></p>
</div>