.creatorPosts__item {
	color: #333333;
}

.creatorPosts__top {
	display: flex;
	align-items: flex-end;
}

.creatorPosts__l {
	width: 100%;
	flex-shrink: 1;
	display: flex;
}

.creatorPosts__ava {
	flex-shrink: 0;
	width: 50px;
	height: 50px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	border-radius: 50%;
}

.creatorPosts__info {
	padding-left: 18px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	white-space: nowrap;
}

.creatorPosts__author {
	font-size: 17px;
}

.creatorPosts__date {
	color: #737373;
	font-size: 14px;
	margin-top: 7px;
}

.creatorPosts__r {
	flex-shrink: 0;
	height: 25px;
	padding-left: 20px;
	display: flex;
}

.creatorPosts__money,
.creatorPosts__curators {
	height: 100%;
	display: flex;
	align-items: center;
}

.creatorPosts__money {
	font-size: 23px;
}

.creatorPosts__curators {
	color: #3d3d3d;
	font-size: 15px;
	margin-left: 14px;
}

.creatorPosts__lock {
	background: radial-gradient(rgb(222, 222, 222), #5c5c5c);
	border: 0 solid #ccc;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-top: 18px;
	min-height: 189px;
}

.creatorPosts__video {
	border: 0 solid #ccc;
	margin-top: 18px;
//	height: 200px;
	width: 100%;
}

.creatorPosts__lockImage {
	width: 50px;
}

.creatorPosts__lockTitle {
	font-size: 16px;
	margin-top: 10px;
	color: #fff;
	padding: 0 10px;
	text-align: center;
}

.creatorPosts__button {
	font-size: 14px;
	height: 43px;
	background: rgba(255, 255, 255, .5);
	line-height: 43px;
	text-align: center;
	min-width: 196px;
	border: 2px solid #fff;
	margin-top: 18px;
	color: #1f1e1e;
}

.creatorPosts__title {
	font-size: 21px;
	margin-top: 16px;
}

.creatorPosts__desc {
	margin-top: 13px;
}

@media screen and (max-width: 569px) {
	.creatorPosts__money {
		font-size: 15px;
	}

	.creatorPosts__curators {
		margin-left: 12px;
	}
}

@media screen and (max-width: 500px) {
	.creatorPosts__top {
		flex-direction: column;
	}

	.creatorPosts__r {
		width: 100%;
		padding-left: 0;
		margin-top: 10px;
	}

	.creatorPosts__lock {
		margin-top: 10px;
	}
}

@media screen and (max-width: 415px) {
	.creatorPosts__button {
		min-width: 170px;
		height: 38px;
		line-height: 38px;
	}

	.creatorPosts__lock {
		padding-bottom: 15px;
	}
}