<div class="team__heading" i18n="">Our small yet incredible team</div>
<div class="team__members">
	<vh-team-member i18n-name="" name="Sergey Korzin" i18n-role="" role="CEO" ava="/images/team/1.png"></vh-team-member>
	<vh-team-member i18n-name="" name="Roman Sirota" i18n-role="" role="CTO" ava="/images/team/2.png"></vh-team-member>
	<vh-team-member i18n-name="" name="Eduard Kolosovsky" i18n-role="" role="CSA" ava="/images/team/3.png"></vh-team-member>
	<br>
	<vh-team-member i18n-name="" name="Maxim Uvarov" i18n-role="" role="Co-Founder, Digital Producer" ava="/images/team/4.jpg"></vh-team-member>
	<vh-team-member i18n-name="" name="Maxim Shavkutenko" i18n-role="" role="Designer" ava="/images/team/6.jpg"></vh-team-member>
</div>

