<form class="paymentPage__form" (submit)="submit()">
	<div class="section">
		<div class="section__row" *ngIf="!user.isLoggedIn">
			<div class="section__left">
				<div class="section__name" i18n="">Username</div>
			</div>
			<div class="section__right">
				<input class="section__input" name="login" [(ngModel)]="login">
			</div>
		</div>
		<div class="section__row">
			<div class="section__left">
				<div class="section__name" i18n="">Active key</div>
			</div>
			<div class="section__right">
				<input class="section__input" name="key" [(ngModel)]="key">
			</div>
		</div>
	</div>
	<div class="buttons">
		<button class="button button-mode-2" i18n="">Pay</button>
	</div>
</form>