<vh-creator-banner [profile]="profile"></vh-creator-banner>
<div class="block">
	<div class="creatorPage__content">
		<div class="creatorPage__col creatorPage__col-left">
			<vh-creator-stats [data]="profile?.stats"></vh-creator-stats>
			<vh-creator-goal [data]="profile?.goal"></vh-creator-goal>
		</div>
		<div class="creatorPage__col creatorPage__col-center">
			<vh-creator-overview></vh-creator-overview>
			<vh-creator-posts [posts]="profile?.lastPosts"></vh-creator-posts>
		</div>
		<div class="creatorPage__col creatorPage__col-right">
			<vh-creator-rewards [data]="{ rewards: profile?.rewards }"></vh-creator-rewards>
		</div>
	</div>
</div>