@import (reference) '../environment';

.creatorPage {

}

.html-route-profile .header {
	margin-bottom: 0;
}

.html-route-profile .header:after {
	display: none;
}

@creatorPageOffset: 20px;

.creatorPage__content {
	display: flex;
	justify-content: space-between;
}

.creatorPage .section {
	margin-top: @creatorPageOffset;
}

.creatorPage__col {
	margin-right: @creatorPageOffset;
}

.creatorPage__col-right {
	margin-right: 0;
}

.creatorPage .section {
	padding-left: 27px;
	padding-right: 27px;
}

.creatorPage__col-left {
	width: 266px;
	flex-shrink: 0;
}

.creatorPage__col-center {
	width: 100%;
	flex-shrink: 1;
}

.creatorPage__col-right {
	width: 266px;
	flex-shrink: 0;
}

.creatorPage__money {
	display: flex;
	align-items: flex-end;
}

.creatorPage__num {
	font-size: 23px;
	color: @color1;
}

.creatorPage__currency {
	font-size: 18px;
	margin-left: 5px;
}

@media screen and (max-width: 1050px) {
	@creatorPageAdaptiveState1LeftColWidth: 250px;
	@creatorPageAdaptiveState1LeftColOffset: 25px;

	.creatorPage__content {
		display: block;
	}

	.creatorPage__col-left,
	.creatorPage__col-right {
		float: left;
		margin-right: @creatorPageAdaptiveState1LeftColOffset;
		width: @creatorPageAdaptiveState1LeftColWidth;
	}

	.creatorPage__col-center {
		float: right;
		margin-right: 0;
		width: calc(~'100% - @{creatorPageAdaptiveState1LeftColWidth} - @{creatorPageAdaptiveState1LeftColOffset}');
	}
}

@media screen and (max-width: 750px) {
	.creatorPage__content {
		display: flex;
		flex-direction: column;
	}

	.creatorPage__col-left,
	.creatorPage__col-right,
	.creatorPage__col-center {
		width: 100%;
		margin-right: 0;
	}
}

@media screen and (max-width: 500px) {
	.creatorPage .section {
		padding: 23px;
	}
}