<form class="loginPage__form" (submit)="submit($event)">
	<div class="section">
		<div class="section__row">
			<div class="section__left">
				<div class="section__name" i18n="">Username</div>
			</div>
			<div class="section__right">
				<input class="section__input" i18n-placeholder="" placeholder="Steem login" [(ngModel)]="login" name="login">
			</div>
		</div>
		<div class="section__row">
			<div class="section__left">
				<div class="section__name" i18n="">Password</div>
			</div>
			<div class="section__right">
				<input class="section__input" i18n-placeholder="" placeholder="Password or posting key" type="password" [(ngModel)]="password" name="password">
			</div>
		</div>
	</div>
	<div class="buttons">
		<button class="button button-mode-2" i18n="">Login</button>
	</div>
</form>