@import (reference) '../environment';

.loginPage {
	display: flex;
	padding-top: 30px;
	padding-bottom: 40px;
	min-height: calc(~"100vh - @{footerHeight} - @{headerHeight}");
	box-sizing: border-box;
}

.loginPage__form {
	width: 560px;
	margin: auto;
}

.loginPage {

}