<div class="creatorStats__items">
	<ng-container *ngIf="data">
		<div class="creatorStats__item">
		<div class="creatorStats__value" [innerHTML]="data.curators"></div>
			<div class="creatorStats__name" i18n="">Supporters</div>
		</div>
		<div class="creatorStats__item">
			<div class="creatorStats__value" [innerHTML]="data.amount"></div>
			<div class="creatorStats__name">Received ($)</div>
		</div>
	</ng-container>
	<div class="creatorStats__socials">
		<div class="creatorStats__social creatorStats__social-facebook">
			<img class="creatorStats__socialIcon" src="/images/socials3/facebook.svg">
			<div class="creatorStats__socialName">SHARE</div>
		</div>
		<div class="creatorStats__social creatorStats__social-twitter">
			<img class="creatorStats__socialIcon" src="/images/socials3/twitter.svg" class="creatorStats__socialIcon">
			<div class="creatorStats__socialName">TWEET</div>
		</div>
	</div>
</div>