<div class="block">
	<vh-main-nav [profileUrl]="profile.url"></vh-main-nav>
	<h2 class="h2" i18n="">My activity</h2>
	<div class="cabinetPage__content">
		<div class="cabinetPage__left">
			<vh-stats></vh-stats>
			<vh-posts i18n-titleStr="" titleStr="My posts" [items]="posts" className="cabinetPage__posts"></vh-posts>
			<div class="buttons">
				<button class="button button-mode-2" routerLink="/add-post" i18n="">New post</button>
			</div>
		</div>
		<div class="cabinetPage__right">
			<vh-persons [items]="bakers" i18n-headingStr="" headingStr="My supporters" className="cabinetPage__bakers"></vh-persons>
			<div class="buttons">
				<button class="button button-mode-2" i18n="">Explore all</button>
			</div>
		</div>
	</div>
</div>