<div class="block">
	<vh-main-nav></vh-main-nav>
	<div class="addPostPage__content">
		<h2 class="h2" i18n="">Create a post</h2>
		<p class="paragraph desc" i18n="">Previously upload your video to youtube and set privacy to unlisted</p>
		<form (submit)="post($event)">
			<div class="section">
				<div class="section__row">
					<div class="section__left">
						<div class="section__name" i18n="">Name</div>
					</div>
					<div class="section__right">
						<input class="section__input" i18n-placeholder="" placeholder="Video title ..." [(ngModel)]="postData.title" name="title" (ngModelChange)="clearErrors()" required="required">
					</div>
				</div>
				<div class="section__row">
					<div class="section__left">
						<div class="section__name" i18n="">Description</div>
					</div>
					<div class="section__right">
						<textarea class="section__textarea" i18n-placeholder="" placeholder="In this video I will talk about..." [(ngModel)]="postData.body" name="body" (ngModelChange)="clearErrors()" required="required"></textarea>
					</div>
				</div>
				<div class="section__row">
					<div class="section__left">
						<div class="section__name" i18n="">Tags</div>
					</div>
					<div class="section__right addPostPage__tags_wrap">
						<a class="addPostPage__tags_item" *ngFor="let tag of postData.tags" [innerHTML]="tag" (click)="tagsDelete(tag)"></a>
						<input class="section__input" i18n-placeholder="" placeholder="Tag" name="title" [(ngModel)]="postData.tagsRaw" (keyup)="tagsChange($event)" (blur)="tagsBlur()" required="required">
					</div>
				</div>
				<div class="addPostPage__tags_error">Maximum 4 tags for video</div>
				<div class="section__row">
					<div class="section__left">
						<div class="section__name" i18n="">Content type</div>
					</div>
					<div class="section__right">
						<vh-dropdown [title]="findByProp(POST_CONTENT_TYPES, 'value', postData.cat_id).str" tabindex="1">
							<vh-dropdown-option (click)="postData.cat_id = type.value" *ngFor="let type of POST_CONTENT_TYPES" [innerHTML]="type.str"></vh-dropdown-option>
						</vh-dropdown>
					</div>
				</div>
				<div class="section__row">
					<div class="section__left">
						<div class="section__name" i18n="">Who can see this post?</div>
					</div>
					<div class="section__right">
						<vh-dropdown [title]="findByProp(POST_PRIVACY, 'value', postData.patrons_only)?.str" tabindex="1">
							<vh-dropdown-option (click)="postData.patrons_only = privacy.value" *ngFor="let privacy of POST_PRIVACY" [innerHTML]="privacy.str"></vh-dropdown-option>
						</vh-dropdown>
					</div>
				</div>
				<div class="section__row">
					<div class="section__left">
						<div class="section__name" i18n="">URL</div>
					</div>
					<div class="section__right">
						<input class="section__input" placeholder="https://www.youtube.com/watch?v=xxxxxxxx" [(ngModel)]="postData.video_url" name="video_url" id="video_url" (ngModelChange)="clearErrors()">
					</div>
				</div>
				<div class="section__row">
					<div class="section__left">
						<div class="section__name" i18n="">Video</div>
					</div>
					<div class="section__right">
						<label class="upload__video_file"><span id="new_video_file">Click to select video to upload</span>
						<input class="input-file" id='new_video_file_input' type="file" name="postData.video_file"
							   (change)="onFileInputChange($event)">
						</label>
						<span class="clear_video_file" id="clear_video_file" title="Reomve file" (click)="cleanVideoFile()" *ngIf="postData.video_file !== null">X</span>

					</div>
				</div>
				<div class="section__row" [ngClass]="{'addPostPage__show_video': isVideoVisible, 'addPostPage__hide_video': !isVideoVisible}">
					<video controls autoplay width="590px" class="addPostPage__video_preview">
						Your browser doesn't support HTML5 video
					</video>
					<canvas style="display: none;"></canvas>
				</div>
				<div class="section__row" *ngIf="isVideoVisible">
					<div class="section__left">
						<div class="section__name" i18n="">Thumbnail</div>
					</div>
					<div class="section__right">
						<img src="" class="video_thumbnail" id="video_thumbnail">
					</div>
					<input class="input-file" type="file" name="postData.screen_file" id="screen_file" (change)="onScreenChange($event)">
				</div>
				<div class="section__row" *ngIf="isVideoVisible">
					<div class="buttons">
						<button class="button button-mode-2" type="button" i18n="" (click)="makeScreenShot()">Make screenshot</button>
						<button class="button button-mode-2" type="button" i18n="" (click)="uploadScreenShot()">Upload screenshot</button>
					</div>
				</div>

			</div>
			<div class="buttons">
				<button class="button button-mode-2" i18n="">Post</button>
			</div>
		</form>
		<div class="errors" *ngIf="errors.length">
			<div class="error" *ngFor="let error of errors" [innerHTML]="error"></div>
		</div>
	</div>
</div>