@import (reference) '../environment';

.addPostPage {
	min-height: calc(~"100vh - @{footerHeight} - @{headerHeight}");
	display: block;
}

.addPostPage__content {
	max-width: 662px;
}

.postPage__title {

}

.postPage__desc {

}
