<div class="block">
	<vh-main-nav></vh-main-nav>
	<div class="addPostPage__content">
		<h2 class="h2">Добавление видео поста</h2>
		<p class="paragraph desc">Предварительно загрузите ваше видео на youtube с правами доступа "по ссылке".</p>
		<form (submit)="post()">
			<div class="section">
				<div class="section__row">
					<div class="section__left">
						<div class="section__name">Название</div>
					</div>
					<div class="section__right">
						<input class="section__input" i18n-placeholder="" placeholder="Прогноз рынка криптовалют" [(ngModel)]="postData.title" name="title" (ngModelChange)="clearErrors()">
					</div>
				</div>
				<div class="section__row">
					<div class="section__left">
						<div class="section__name">Описание</div>
					</div>
					<div class="section__right">
						<textarea class="section__textarea" i18n-placeholder="" placeholder="В этом видео я расскажу..." [(ngModel)]="postData.body" name="body" (ngModelChange)="clearErrors()"></textarea>
					</div>
				</div>
				<div class="section__row">
					<div class="section__left">
						<div class="section__name">URL видео</div>
					</div>
					<div class="section__right">
						<input class="section__input" i18n-placeholder="" placeholder="https://www.youtube.com/watch?v=xxxxxxxx" [(ngModel)]="postData.video_url" name="video_url" (ngModelChange)="clearErrors()">
					</div>
				</div>
				<div class="section__row">
					<div class="section__left">
						<div class="section__name">Стоимость просмотра</div>
					</div>
					<div class="section__right">
						<input class="section__input" type="number" min="0" step="0.1" placeholder="GOLOS" [(ngModel)]="postData.price" name="price" (ngModelChange)="clearErrors()">
					</div>
				</div>
			</div>
			<div class="buttons">
				<button class="button button-mode-2">Опубликовать</button>
			</div>
		</form>
		<div class="errors" *ngIf="errors.length">
			<div class="error" *ngFor="let error of errors" [innerHTML]="error"></div>
		</div>
	</div>
</div>