<h3 class="h3 socials__heading">Мы в соц-сетях</h3>
<div class="socials__rows">
	<div class="socials__row">
		<div class="socials__item socials__item-facebook"></div>
		<div class="socials__item socials__item-twitter"></div>
		<div class="socials__item socials__item-github"></div>
	</div>
	<div class="socials__row">
		<div class="socials__item socials__item-linkedin"></div>
		<div class="socials__item socials__item-instagram"></div>
	</div>
	<div class="socials__row">
		<div class="socials__item socials__item-youtube"></div>
	</div>
</div>