<div class="authors__top">
	<div class="authors__left">
		<h2 class="h2 authors__heading" [innerHTML]="titleStr"></h2>
	</div>
	<div class="authors__right" *ngIf="needFilters">
		<div class="authors__filters">
			<div class="button authors__filter" (click)="applyFilter('today')" [ngClass]="{'button-mode-2': filter === 'today', 'button-mode-3': filter !== 'today'}">Сегодня</div>
			<div class="button authors__filter" (click)="applyFilter('week')" [ngClass]="{'button-mode-2': filter === 'week', 'button-mode-3': filter !== 'week'}">Неделя</div>
			<div class="button authors__filter" (click)="applyFilter('month')" [ngClass]="{'button-mode-2': filter === 'month', 'button-mode-3': filter !== 'month'}">Месяц</div>
		</div>
	</div>
</div>
<div class="authors__items">
	<a class="authors__item" *ngFor="let item of items" [routerLink]="'/' + item.url">
		<div [style.background-image]="'url(' + item.cover_image + ')'" class="authors__img"></div>
		<div class="authors__title">
			<span class="authors__name" [innerHTML]="item.name"></span>
			<span>  is creating </span>
			<span [innerHTML]="item.about"></span>
		</div>
		<div class="authors__desc" [innerHTML]="item.desc"></div>
	</a>
</div>


