<div class="authors__top">
	<div class="authors__left">
		<h2 class="h2 authors__heading" [innerHTML]="titleStr"></h2>
	</div>
	<div class="authors__right" *ngIf="needFilters">
		<div class="authors__filters">
			<div class="button button-mode-2 authors__filter">Сегодня</div>
			<div class="button button-mode-3 authors__filter">Неделя</div>
			<div class="button button-mode-3 authors__filter">Месяц</div>
		</div>
	</div>
</div>
<div class="authors__items">
	<div class="authors__item" *ngFor="let item of items">
		<div [style.background-image]="'url(' + item.img + ')'" class="authors__img"></div>
		<div class="authors__title" [innerHTML]="item.title"></div>
		<div class="authors__desc" [innerHTML]="item.desc"></div>
	</div>
</div>


