<div class="creatorBanner__top" [style.background-image]="'url(' + profile?.bannerImg + ')'">
	<div class="block h100">
		<div class="creatorBanner__layout1">
			<div class="creatorBanner__title" [innerHTML]="profile?.fullname + ' создаёт ' + profile?.desc"></div>
			<div class="creatorBanner__badgeWrap">
				<img class="creatorBanner__badge" *ngIf="profile?.badge" [attr.src]="profile?.badge">
			</div>
		</div>
	</div>
</div>
<div class="block bg2">
	<div class="creatorBanner__bottom">
		<div class="creatorBanner__avatar" [style.background-image]="'url(' + profile?.avatar + ')'"></div>
		<div class="creatorBanner__l">
			<nav class="creatorBanner__nav">
				<a class="creatorBanner__navItem creatorBanner__navItem-active">Основное</a>
				<a class="creatorBanner__navItem">Посты</a>
				<a class="creatorBanner__navItem">Сообщество</a>
			</nav>
		</div>
		<div class="creatorBanner__r">
			<div class="creatorBanner__socials">
				<a class="creatorBanner__social" *ngFor="let item of profile?.socialLinks" [attr.href]="item.link" [ngClass]="'creatorBanner__social-' + item.name"></a>
			</div>
			<button class="button button-mode-2 button-mode-5 creatorBanner__button">Стать куратором</button>
		</div>
	</div>
</div>
