<div class="creatorBanner__top" [style.background-image]="'url(' + profile?.cover_image + ')'">
	<div class="block h100">
		<div class="creatorBanner__layout1">
			<div class="creatorBanner__avatar" [style.background-image]="'url(' + profile?.profile_image + ')'"></div>
			<div class="creatorBanner__title" [style.color]="profile.cover_text_color">
				<span class="creatorBanner__name" [innerHTML]="profile?.name + ' '"></span>
				<span i18n="">is creating </span>
				<span [innerHTML]="profile?.about"></span>
			</div>
			<div class="creatorBanner__badgeWrap">
				<img class="creatorBanner__badge" *ngIf="profile?.badge" [attr.src]="profile?.badge">
			</div>
		</div>
	</div>
</div>
<div class="bg2">
	<div class="block">
		<div class="creatorBanner__bottom">
			<div class="creatorBanner__l">
				<nav class="creatorBanner__nav">
					<a class="creatorBanner__navItem creatorBanner__navItem-active" i18n="">Profile</a>
					<a class="creatorBanner__navItem" i18n="">Posts</a>
					<a class="creatorBanner__navItem" i18n="">Community</a>
				</nav>
			</div>
			<div class="creatorBanner__r">
				<div class="creatorBanner__socials">
					<a class="creatorBanner__social" *ngFor="let item of profile?.socialLinks" [attr.href]="item.link" [ngClass]="'creatorBanner__social-' + item.name"></a>
				</div>
				<a class="button button-mode-2 button-mode-5 creatorBanner__button" [routerLink]="'/become-patron/' + profile?.user_id" *ngIf="!isPatron">Become a supporter</a>
			</div>
		</div>
	</div>
</div>