@import (reference) '../environment';

.creatorBanner {
	display: block;
	border-bottom: 1px solid #ccc;
}

@creatorBannerPadding: 35px;
@creatorBannerPaddingLeft: @creatorBannerAvaSize + (@creatorBannerPadding * 2);

.creatorBanner__layout1,
.creatorBanner__bottom {
	padding-left: @creatorBannerPaddingLeft;
	padding-right: @creatorBannerPadding;
}

.creatorBanner__top {
	height: 25vw;
	min-height: 200px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.creatorBanner__layout1 {
	display: flex;
	align-items: flex-end;
	height: 100%;
	padding-bottom: 10px;
	position: relative;
	z-index: 1;
}

.creatorBanner__title {
	font-size: 30px;
	color: #f0f0f0;
	line-height: 1.2;
	width: 100%;
	flex-shrink: 1;
}

.creatorBanner__name {
	font-weight: bold;
}

.creatorBanner__badgeWrap {
	padding-left: 20px;
	flex-shrink: 0;
	width: 145px;
}

.creatorBanner__badge {
	width: 100%;
	height: auto;
}

.creatorBanner__bottom {
	height: 82px;
	background: #ffffff;
	display: flex;
	position: relative;
}

.creatorBanner__l {
	width: 100%;
	flex-shrink: 1;
	display: flex;
	align-items: flex-end;
}

.creatorBanner__r {
	flex-shrink: 0;
	height: 100%;
	display: flex;
	align-items: center;
}

@creatorBannerAvaSize: 120px;

.creatorBanner__avatar {
	position: absolute;
	bottom: 0;
	left: @creatorBannerPadding;
	transform: translate(0, 50%);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	border-radius: 50%;
	width: @creatorBannerAvaSize;
	height: @creatorBannerAvaSize;
	border: 3px solid #fff;
}

.creatorBanner__nav {
	display: flex;
}

.creatorBanner__navItem {
	color: #595959;
	font-size: 18px;
	height: 36px;
	padding: 2px 7px 0;
	margin: 0 11px;
	cursor: pointer;
	display: inline-block;
	box-sizing: border-box;
}

.creatorBanner__navItem:first-child {
	margin-left: 0;
}

.creatorBanner__navItem:last-child {
	margin-right: 0;
}

.creatorBanner__navItem-active {
	color: @color1;
	position: relative;
}

.creatorBanner__navItem-active:after {
	position: absolute;
	content: ' ';
	display: block;
	width: 100%;
	height: 3px;
	left: 0;
	bottom: 0;
	z-index: 1;
	background-color: @color1;
}

.creatorBanner__socials {
	display: flex;
	margin-right: 8px;
}

.creatorBanner__social {
	width: 26px;
	height: 26px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	margin: 0 4px;
}

.creatorBanner__social-facebook {
	background-image: url('/assets/images/socials2/facebook.svg');
	width: 24px;
	height: 24px;
}

.creatorBanner__social-twitter {
	background-image: url('/assets/images/socials2/twitter.svg');
}

.creatorBanner__social-youtube {
	background-image: url('/assets/images/socials2/youtube.svg');
}

.creatorBanner__button {
	margin-left: 30px;
}

@media screen and (max-width: 1000px) {
	.creatorBanner__avatar {
		transform: none;
		position: static;
		flex-shrink: 0;
	}

	.creatorBanner__layout1,
	.creatorBanner__bottom {
		padding-left: 0;
		padding-right: 0;
	}

	.creatorBanner__title {
		padding-left: 15px;
		font-size: 26px;
	}

	.creatorBanner__layout1 {
		padding-bottom: 0;
		padding-top: 41px;
		align-items: center;
	}
}

@media screen and (max-width: 834px) {
	.creatorBanner__socials {
		display: none;
	}

	.creatorBanner__nav {
		flex-wrap: wrap;
		justify-content: center;
	}

	.creatorBanner__bottom {
		flex-direction: column;
		align-items: center;
		height: auto;
		padding: 14px 0 15px 0;
	}

	.creatorBanner__l,
	.creatorBanner__r {
		width: auto;
	}

	.creatorBanner__button {
		margin-top: 30px;
	}

	.creatorBanner__navItem {
		margin-top: 12px;
	}
}

@media screen and (max-width: 750px) {
	.creatorBanner__badgeWrap {
		display: none;
	}
}

@media screen and (max-width: 650px) {
	.creatorBanner__title {
		font-size: 20px;
	}
}

@media screen and (max-width: 500px) {
	.creatorBanner__avatar {
		width: 90px;
		height: 90px;
	}

	.creatorBanner__layout1 {
		padding-top: 0;
	}

	.creatorBanner__title {
		font-size: 20px;
	}
}