<h2 class="h2 posts__heading" [innerHTML]="titleStr"></h2>
<div class="posts__items" *ngIf="items?.length">
	<div class="posts__item" *ngFor="let item of items" [innerHTML]>
		<div class="posts__img" [style.background-image]="'url(' + item.post_image + ')'"></div>
		<a [href]="item.link" class="posts__link"><div class="posts__title" [innerHTML]="item.title"></div></a>
		<p class="paragraph posts__desc" [innerHTML]="item.body"></p>
	</div>
</div>
<div class="posts__empty" *ngIf="!items?.length" i18n="">You have no posts yet</div>
