<div class="block">
	<vh-main-nav></vh-main-nav>
	<div class="editProfilePage__content">
		<div class="editProfilePage__left">
			<form class="editProfile__form" (submit)="submit()" *ngIf='profile'>
			<h2 class="h2" i18n="">Edit profile</h2>
			<p class="desc paragraph" i18n="">Fill in the creator's profile, making a first great impression for the community</p>
			<div class="section">
				<div class="section__row">
					<div class="section__left">
						<div class="section__name" i18n="">Full name</div>
					</div>
					<div class="section__right">
						<input class="section__input" placeholder="John Johnson" name="name" [(ngModel)]="profile.name">
					</div>
				</div>
				<div class="section__row">
					<div class="section__left">
						<div class="section__name" i18n="">What are you creating?</div>
					</div>
					<div class="section__right">
						<input class="section__input" i18n-placeholder="" placeholder="Video reviews of mining equipment" name="about" [(ngModel)]="profile.about">
					</div>
				</div>
				<div class="section__row">
					<div class="section__left">
						<div class="section__name" i18n="">Promo video</div>
					</div>
					<div class="section__right">
						<input class="section__input" placeholder="https://www.youtube.com/watch?v=xxxxxxxx" name="promo_video" [(ngModel)]="profile.promo_video">
					</div>
				</div>
				<div class="section__row section__row_h_140">
					<div class="section__left">
						<div class="section__name" i18n="">Text</div>
					</div>
					<div class="section__right">
						<vh-wysiwyg (onContentChanged)="onTextChanged($event)" [ops]="profile.contents?.ops ? profile.contents.ops : [ { insert: 'Hello ' }, { insert: 'World!', attributes: { bold: true } },  { insert: '\n' } ]"></vh-wysiwyg>
					</div>
				</div>

				<div class="section__row">
					<div class="section__left">
						<div class="section__name" i18n="">Avatar</div>
					</div>
					<div class="section__right">
						<label class="editProfilePage__avatar" [style.background-image]="'url(' + (profile.profile_image || '/images/ava_placeholder.svg') + ')'" id="new_profile_image">
							<input class="input-file" type="file" name="new_profile_image"  (change)="onAvaInputChange($event)">
						</label>
					</div>
				</div>
				<div class="section__row">
					<div class="section__left">
						<div class="section__name">
							<span i18n="">Cover image</span>
							<br>
							<span>(1600 x 400)</span>
						</div>
					</div>
					<div class="section__right">
						<label class="editProfilePage__image" [style.background-image]="'url(' + (profile.cover_image || '/images/camera.svg') + ')'" [style.background-size]="profile.cover_image? 'cover': 'auto'" id="new_cover_image">
							<input class="input-file" type="file" name="new_cover_image" (change)="onCoverInputChange($event)">
						</label>
					</div>
				</div>
				<div class="section__row">
					<div class="section__left">
						<div class="section__name" i18n="">List image</div>
					</div>
					<div class="section__right">
						<label class="editProfilePage__image" [style.background-image]="'url(' + (profile.list_image || '/images/camera.svg') + ')'" [style.background-size]="profile.list_image? 'cover': 'auto'" id="new_list_image">
							<input class="input-file" type="file" name="new_list_image" (change)="onListInputChange($event)">
						</label>
					</div>
				</div>
				<div class="section__row">
					<div class="section__left">
						<div class="section__name" i18n="">Cover text color</div>
					</div>
					<div class="section__right">
						<vh-dropdown [title]="profile?.cover_text_color" tabindex="1">
							<vh-dropdown-option (click)="profile.cover_text_color = 'white'" i18n="">White</vh-dropdown-option>
							<vh-dropdown-option (click)="profile.cover_text_color = 'black'" i18n="">Black</vh-dropdown-option>
						</vh-dropdown>
					</div>
				</div>
			</div>
			<div class="section">
				<div class="section__row">
					<div class="section__left">
						<div class="section__name" i18n="">Category</div>
					</div>
					<div class="section__right">
						<vh-dropdown [title]="selectedCategory?.name" tabindex="1">
							<vh-dropdown-option *ngFor="let category of categories" (click)="selectedCategory = category" [innerHTML]="category.name"></vh-dropdown-option>
						</vh-dropdown>
					</div>
				</div>
				<div class="section__row">
					<div class="section__left">
						<div class="section__name" i18n="">Profile link</div>
					</div>
					<div class="section__right">
						<span class="section__fixedStr">yousource.io/</span>
						<input class="section__input" name="url" [(ngModel)]="profile.url">
					</div>
				</div>
			</div>
			<div class="section">
				<div class="section__row">
					<div class="section__left">
						<div class="section__name">YouTube</div>
					</div>
					<div class="section__right">
						<input class="section__input" placeholder="https://www.youtube.com/your-channel">
					</div>
				</div>
				<div class="section__row">
					<div class="section__left">
						<div class="section__name">Twitter</div>
					</div>
					<div class="section__right">
						<input class="section__input" placeholder="https://twitter.com/your-channel">
					</div>
				</div>
				<div class="section__row">
					<div class="section__left">
						<div class="section__name">Instagram</div>
					</div>
					<div class="section__right">
						<input class="section__input" placeholder="https://www.instagram.com/your-channel">
					</div>
				</div>
				<div class="section__row">
					<div class="section__left">
						<div class="section__name">Twitch</div>
					</div>
					<div class="section__right">
						<input class="section__input" placeholder="https://www.twitch.tv/your-channel">
					</div>
				</div>
			</div>
			<div class="buttons">
				<button class="button button-mode-2" i18n="">Save</button>
			</div>
			</form>
		</div>
		<div class="editProfilePage__right">
			<form class="editGoal__form" (submit)="submitGoals()" *ngIf='goals'>
				<h2 class="h2" i18n="">Goal</h2>
				<p class="desc paragraph" i18n="">Let the community know what you will do when you reach the goal</p>
				<div class="section">
					<div class="section__row">
						<textarea class="section__textarea" i18n-placeholder="" placeholder="When I get 1000 dollars, I'll be able to create 2 videos per week instead of one" [(ngModel)]="goals[0].goal" name="goal.goal"></textarea>
					</div>
					<div class="section__row">
						<div class="section__left">
							<div class="section__name section__name-mode-1" i18n="">$</div>
						</div>
						<div class="section__right">
							<input class="section__input" type="number" value="0" min="0" name="goal.amount" [(ngModel)]="goals[0].amount">
						</div>
					</div>
					<div class="section__basket"></div>
				</div>
				<div class="buttons">
					<button class="button button-mode-2 editProfilePage__button" i18n="">Save</button>
				</div>
			</form>
			<h2 class="h2 editProfilePage__heading1" i18n="">Rewards</h2>
			<p class="desc paragraph" i18n="">Rewards are the best way to thank your fans for their pledges</p>
			<div *ngFor="let reward of rewards ; let i = index">
			<form class="editGoal__form">
			<div class="section">
				<div class="section__row">
					<input class="section__input" i18n-placeholder="" placeholder="Title" [(ngModel)]="rewards[i].title" name="title" maxlength="100"/>
				</div>
				<div class="section__row">
					<textarea class="section__textarea" i18n-placeholder="" placeholder="Description (e.g. Telegram chats with you once a month)" [(ngModel)]="rewards[i].reward" name="reward"></textarea>
				</div>
				<div class="section__row">
					<div class="section__left">
						<div class="section__name section__name-mode-1">$</div>
					</div>
					<div class="section__right">
						<input class="section__input" type="number" value="0" min="0" name="amount" [(ngModel)]="rewards[i].amount">
					</div>
				</div>
				<div class="section__basket"  (click)="delReward(i);"></div>
			</div>
			<div class="buttons">
				<button class="button button-mode-2 editProfilePage__button" (click)="submitReward(i)" i18n="">Save</button>
				<button class="button button-mode-4 editProfilePage__button" (click)="addReward()" i18n="">Add more</button>
			</div>
			</form>
			</div>
		</div>
	</div>
</div>
