<div class="creatorOverview__video">
	<iframe class="creatorOverview__iframe" [attr.src]="sanitizer.bypassSecurityTrustResourceUrl('https://www.youtube.com/embed/OSriZ_SeTfk')" frameborder="0" allowfullscreen></iframe>
</div>
<div class="creatorOverview__heading">Привет друзья</div>
<p class="paragraph creatorOverview__paragraph">lorem ipsum dolor sit amet consectetur adipiscing elit sed diam nonummy nibh euismod tincidunt ut. lorem ipsum dolor sit amet consectetur adipiscing elit sed diam nonummy nibh euismod tincidunt ut. lorem ipsum dolor sit amet consectetur adipiscing elit sed diam nonummy nibh euismod tincidunt ut. lorem ipsum dolor sit amet consectetur adipiscing elit sed diam nonummy nibh euismod tincidunt ut.</p>
<p class="paragraph creatorOverview__paragraph">lorem ipsum dolor sit amet consectetur adipiscing elit sed diam nonummy nibh euismod tincidunt ut. lorem ipsum dolor sit amet consectetur adipiscing elit sed diam nonummy nibh euismod tincidunt ut.</p>
<div class="creatorOverview__heading">Выберите награду и разблокируйте посты</div>